  <!-- Masthead -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Avatar Image -->
      <img class="masthead-avatar mb-5" src="/assets/profile.png" alt="">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">Jaset Construction Company</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-landmark"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0">Building and Civil Engineering Contractors and Renovators</p>

    </div>
  </header>





<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
                <% @posts.each do |post| %>
                <div class="col-sm-4 portfolio-item">
                <%= link_to post_path(post) do %>
                  <%= image_tag post.image.url, class: 'img-responsive' %>
                <% end %>
                </div>
            <% end %>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-0">
                <p>Jaset Construction Company limited was launched in 2008 after running as a partnership by the name of Jaset general contractors, and is a professional company addressed to building, construction and all civil engineering works, with solutions in the areas of design, construction and urban development. Over the years the company has undertaken many challenging projects and accumulated skills, know-how and experiences in design and building solutions, management services and related engineering works..</p>
            </div>


          


<div class="col-lg-4">
                <p> We are a company that takes pride in our delivery, thus our clients can always be assured that only the most experienced and qualified people are serving them all the time, consequently the goodwill of those we serve is the foundation of our success.</p>
            </div>


  <div class="col-lg-4">
                <p>We are specialists in:<br>
    • High rise buildings.<br>
    • Bungalows and massionates.<br>
    • Sewerage system works.<br>
    • Roads and Parking.<br>
    • Among others
</p>
            </div>

            <div class="col-lg-8 col-lg-offset-2 text-center">
                
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2><%= mail_to "info@jasetconstruction.co.ke", "Contact Us", subject: "Hi! Please include your name and email address" %></h2><br>
                <hr class="star-primary">
            </div>
        </div>
</section>





<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>




 