$body-color: slategray;
$body-text-size: 1.6rem;
$break-color: rgb(200, 200, 200);
$page-color: snow;
$shadow-color: rgba(0, 0, 0, .15);
$outline-color: rgba(0, 0, 0, .1);
$text-color: lighten(black, 30%);

html {
  font-size: 62.5%;
}

body {
  background: $body-color;
  font-family: 'Open Sans', Helvetica, "Lucida Grande", sans-serif;
  font-weight: 400;
  padding: 2.5rem 0 10rem;
  text-rendering: geometricPrecision;
  margin: 0 1px;
}

p {
  font-size: $body-text-size;
  line-height: 1.7;
}

h1 {
  font-size: 2.4rem;
}

main {
  background: $page-color;
  color: $text-color;
  margin: 0 auto 2px;
  outline: 1px solid $outline-color;
  padding: .5rem 3rem 3rem;
  position: relative;
  max-width: 50vw;
  z-index: 1;
  box-shadow: 0 0 10rem rgba(0, 0, 0, .3);
}

.intro {
  h1 {
    margin: 0;
  }  
}

.sb-index,
.intro,
.colophon {
  border-bottom: 1px solid $outline-color;
  overflow: auto;
  width: 100%;
  margin: 0 -3rem;
  padding: 3rem;  
}

.sb {
  float: left;
  margin-bottom: .5rem;
  position: relative;
  width: 100%;

  small {
    background: $body-color;
    color: white;
    border-radius: .5rem;
    box-shadow: 0 .1rem .1rem 0 $shadow-color;
    font-size: 1.2rem;
    left: 50%;
    opacity: 0;
    padding: 1rem;
    position: absolute;
    transform: translate(-50%, 0);
    transition:
      opacity 1s ease-out,
      transform .5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    z-index: 5;
  }

  &:hover {
    cursor: help;

    > small {
      opacity: 1;
      transform: translate(-50%, -75%);
    }
  }
}


/* Section Break 1 */
.section-break-1 {
  background-color: transparent;
  border: 0;
  border-top: 3px double $break-color;
  height: 3px;
  margin: 2rem auto;
  width: 30%;

  &:before {
    background-color: $page-color;
    color: $break-color;
    content: '\22A1';
    font-size: 20px;
    left: 50%;
    letter-spacing: 0;
    line-height: 1;
    position: absolute;
    text-indent: -2px;
    text-rendering: geometricPrecision;
    transform: translate(-50%, -65%);
    width: 10px;
  }
}

/* Section Break 2 */
.section-break-2 {
  background-color: transparent;
  border: 0;
  border-top: 1px solid $break-color;
  height: 1px;
  margin: 2rem auto;
  text-align: center;
  width: 80%;

  &:before {
    background-color: $page-color;
    color: darken($break-color, 20%);
    content: '\25C8';
    display: inline-block;
    font-size: 20px;
    left: 50%;
    letter-spacing: 0;
    line-height: 1;
    text-indent: -1px;
    text-rendering: geometricPrecision;
    transform: translateY(-53%);
    width: 15px;
  }
}

/* Section Break 3 */
.section-break-3 {
  $break-color: $text-color;
  background-color: $break-color;
  border: 0;
  border-top: 1px solid $break-color;
  height: 1px;
  margin: 2rem auto;
  text-align: center;
  width: 100%;

  &:before {
    background-color: $page-color;
    color: darken($break-color, 20%);
    content: '\25C9';
    display: inline-block;
    font-size: $body-text-size;
    left: 50%;
    line-height: 1;
    padding: 0 .5rem;
    text-rendering: geometricPrecision;
    transform: translateY(-53%);
    z-index: 1;
  }
}

/* Section Break 4 */
.section-break-4 {
  border: 0;
  background-color: transparent;
  height: 0;
  margin: 2rem auto 4rem;
  text-align: center;
  width: 100%;

  &:before,
  &:after {
    background-color: $break-color;
    content: '';
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 7%;
  }

  &:before {
    transform: rotate(10deg);
  }

  &:after {
    transform: rotate(-10deg);
  }
}

/* Section Break 5 */
.section-break-5 {
  background-color: transparent;
  border: 0;
  border-top: 1px solid $break-color;
  display: block;
  height: 0;
  margin: 3rem auto 3rem;
  text-align: center;
  width: 50%;

  &:before {
    background-color: $page-color;
    color: darken($break-color, 20%);
    content: 'j';
    display: inline-block;
    font-size: $body-text-size;
    left: 50%;
    letter-spacing: 0;
    line-height: $body-text-size;
    text-indent: 0;
    text-rendering: geometricPrecision;
    transform: translateY(-65%);
    width: 15px;
  }
}

.colophon {
  border: 0;
  border-top: 1px solid $outline-color;
  font-size: 1.2rem;
  margin-top: 4rem;
  overflow: auto;
  padding-bottom: 0;  
  padding-top: 1rem;
  text-align: left;
}

dt {
  clear: left;
  float: left;
  font-weight: 600;
  line-height: 2;
  margin-right: .5rem;
}

dd {
  clear: right;
  float: left;
  line-height: 2;
  margin: 0;
}